@charset "utf-8" ;
body{
   background-color: rgba(107, 16, 171, 0.541);
    
    text-align: center;
}
div{
    width: 174px;
}div>input{
    border:0.2px solid black;
    
}div.btn{
    border: none;
    display:inline-block;
    width: auto;
}.btn input{
    background-image: linear-gradient( rgba(0, 47, 255, 0.51),rgba(0, 255, 255, 0.773)) ;
    border-radius: 40% ;
    font-size: 0.7em;

}.btn input:hover{
    background-image: linear-gradient( rgba(0, 47, 255, 0.222)rgba(0, 255, 255, 0.454)) ;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.466);
    border: 0.1px solid;
}span{
    
    background-image: linear-gradient( rgba(0, 47, 255, 0.51),rgba(0, 255, 255, 0.773)) ;
    border-radius: 40% ;
}section{
    background-image: url('../fundos/fundo3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
    color: aliceblue;
    border: 1px solid white;
    max-width: 400px;
    margin: auto;
    margin-top :50px ;
    border-radius: 30px;
}#res{
    padding-bottom:2px ;
    padding-top: 2px;
    margin: auto;
    background-color: white;
    border: solid black;
    border-radius: 30px;
    color: black;

}